<div class="box tabular">
<p><%= f.text_field 'name', {:required => true} %></p>
<p><%= f.select :issue_status_id, (IssueStatus.sorted.all.collect {|p| [p.name, p.id]}), {:required => true} %></p>
<p><%= f.select :process_role_id, options_for_select([[author_role_string(), -1]] + @tracker.process_roles.all.collect {|p| [p.name, p.id]}, @step.process_role_id), {:include_blank => true} %></p>

</div>